/* Página completa */
.page {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HERO SECTION */
.hero {
  flex: 1;

  display: flex;
  justify-content: space-between;   /* agora respeita laterais */
  align-items: center;

  padding: 40px 0;
}

/* Decorações laterais */
.sideDecor {
  width: 210px;
  opacity: 1,2;
}

/* imagem da esquerda */
.leftImage {
  transform: translateX(10px); 
  opacity: 10;  /* empurra bem pro canto */
}

/* imagem da direita */
.rightImage {
  transform: translateX(-40px);    /* empurra bem pro canto */
}

/* Conteúdo central */
.centerContent {
  text-align: center;
  max-width: 650px;
  margin-top: -20px;   /* levanta um pouco */
}

/* Título */
.title {
  font-size: 3rem;
  font-weight: 700;
  color: #d35400;
  margin-bottom: 10px;
}

/* Subtítulo */
.subtitle {
  font-size: 1.15rem;
  color: #666;
  margin-bottom: 20px;
}

/* Barra de busca */
.searchWrapper {
  display: flex;
  align-items: center;
  border: 2px solid #d35400;
  border-radius: 40px;
  padding: 10px 20px;

  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}

.pin {
  margin-right: 8px;
  font-size: 1.2rem;
}

.searchButton {
  background: #d35400;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.searchButton:hover {
  background: #bb4b00;
}

/* Tags */
.tags {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.tags span {
  background: #f5f5f5;
  padding: 8px 14px;
  border-radius: 18px;
  font-size: 0.9rem;
}

/* Footer */
.footer {
  background: #e3e3e3;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
