* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
button,
input,
textarea,
select {
  font-family: Arial, sans-serif !important;
  
}

/* JÁ TÁ CERTO, SÓ MANTER */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;   /* pode manter isso */
  /* NÃO coloca overflow-y: hidden aqui */
}